@import './components/github/events.scss';
@import './components/content/content-viewer';
@import './components/content/comment-creator';
@import './components/content/post-creator';
@import './components/content/comment';
@import './components/content/post';
@import './components/typeahead';
@import './components/author';

// Flatten everything ;)
* {
  border-radius: 0 !important;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container-fluid {
  padding: 0;
}

.author-image {
  width: 64px;
  height: 64px;
}

.nav-img {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.alertify-logs {
	top: 50%;
	right: 10px;
}

.light-text {
 color: #bbb;
}

.spinner {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 10%;
}

.popover {
  max-width: 500px;

  .popover-content {
    padding: 0;

    .list-group {
      margin-bottom: 0;

      .list-group-item .badge {
        cursor: pointer;
      }
    }
  }
}

.well .list-group .list-group-item {
  padding: 10px;
}

.row-padding {
  margin-left: 0;
  margin-right: 0;
  [class*="col-"] {
    padding-left: 15px !important;
    padding-right: 5px !important;
  }
}
