@import '../bootstrap/dist/css/bootstrap.min.css';
@import './components/contentviewer';
@import './components/contentcreator';
@import './components/post';
@import './components/comment';
@import './components/typeahead';
@import './components/author';

.author-image {
  width: 64px;
  height: 64px;
}

.timeline {
  width: 700px;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container-fluid {
  padding: 0;
}
