@import './components/github/events.scss';
@import './components/content/content-viewer';
@import './components/content/comment-creator';
@import './components/content/post-creator';
@import './components/content/comment';
@import './components/content/post';
@import './components/typeahead';

@import './routes/author';
@import './routes/register';

// Flatten everything ;)
* {
  border-radius: 0 !important;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fafafa;
  padding-top: 70px;
  color: #333;
}

.container-fluid {
  padding: 0;
}

.author-image {
  width: 64px;
  height: 64px;
}

.nav-img {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.alertify-logs {
	top: 50%;
	right: 10px;
}

.light-text {
  color: #bbb;
}

.spinner {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 10%;
}

.popover {
  max-width: 500px;

  .popover-content {
    padding: 0;

    .list-group {
      margin-bottom: 0;

      .list-group-item .badge {
        cursor: pointer;
      }
    }
  }
}

.well .list-group .list-group-item {
  padding: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
