.profile-image {
  width: 128px;
  height: 128px;
}

.author-biography {
  padding-bottom: 10px;
}

.author-tabs>li.active>a,
.author-tabs>li.active>a:hover,
.author-tabs>li.active>a:focus {
  background-color: #ecf0f1;
}
