.profile-image {
  width: 128px;
  height: 128px;
}

.author-biography {
  padding-bottom: 10px;
}

.author-tabs div nav {
  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:hover,
  .nav-tabs>li.active>a:focus {
    background-color: #ecf0f1;
  }
}
