.post {
    background-color: #f5f6ff;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 1px solid #000000;

    img {
        width: 4.5em;
        height: 4.5em;
    }
}
